<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.CustomerMapper">
    <select id="queryAll" resultType="Customer">
        SELECT * FROM `customer`
        ORDER BY times DESC
    </select>


    <update id="updateCustomer" parameterType="Customer">
        update myweb.customer
        set cont=#{cont},email=#{email},phone=#{phone},comments=#{comments},times=#{times}
        where id = #{id};
    </update>

    <insert id="insertCustomer" parameterType="Customer">
        insert into myweb.customer(cont,email,phone,comments,times)
        values(#{cont},#{email},#{phone},#{comments},NOW())
    </insert>

    <delete id="deleteCustomer">
        delete from myweb.customer
        where id = #{id}
    </delete>
    <select id="queryPage" resultType="Customer">
        select * from myweb.customer
        order by times DESC
        limit #{pageNum},#{pageBig}
    </select>
</mapper>