<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.MakeMapper">
    <select id="queryAll" resultType="Make">
        select *
        from myweb.make;
    </select>

    <update id="updateByID" parameterType="Make">
        update myweb.make
        set ztable  = #{ztable},ztext = #{ztext}
        WHERE id = #{id}
    </update>
    
    <select id="queryByID" resultType="Make">
        select *
        from myweb.make
        where id = #{id}
    </select>
</mapper>